.peek-mode-toggle {
  display: none;
}

@media screen and (min-width: 1300px) {
  html:not(.fullscreen-composer) {
    .peek-mode-toggle svg {
      transform: scaleX(-1);
    }
    &.composer-open {
      .full-width-enabled .peek-mode-toggle {
        display: inline;
      }
      .full-width-enabled.peek-mode-active {
        .grippie {
          display: none;
        }

        &.has-sidebar-page {
          #main-outlet-wrapper {
            grid-template-columns:
              var(--d-sidebar-width) calc(100vw - 35vw - var(--d-sidebar-width))
              1fr;
          }
          #reply-control:not(.fullscreen).hide-preview {
            transform: translateX(calc(100vw - 33vw));
            height: 100vh;
            width: 33vw;
            right: unset;
            left: unset;
          }
        }

        &:not(.has-sidebar-page) {
          #main-outlet-wrapper {
            grid-template-columns: 0 calc(100vw - 50vw) 1fr;
          }
          #reply-control:not(.fullscreen).hide-preview {
            transform: translateX(calc(100vw - 47vw));
            height: 100vh;
            width: 47vw;
            right: unset;
            left: unset;
          }
        }
        .sidebar-wrapper .sidebar-container {
          height: unset;
        }
      }
    }
  }
}
